.footer {
    background-color: $grisOscuro;
    margin-bottom: 0;
    padding: 2.5rem 0;

    .contenedor-footer {
        padding: 2rem 0;
    }
    
    .copyright {
        text-align: center;
        font-size: 1.8rem;
        color: $blanco;
        margin: 0;
    }

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
        @include tablet {
            display: flex;
            justify-content: center;
        }
    }
}