.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: $separacion2;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        // flex-grow: 2;
        width: 20rem;
    }
}

.navegacion {    
    // display: none;
    visibility: hidden; //para agregar animación, la propiedad display no soporta animaciones
    opacity: 0;
    height: 0;
    transition: all .333s ease-in-out;

    @include tablet {
        visibility: visible ;
        opacity: 1;
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        text-align: center;

        &:hover {
            color: $verde;
        }

        @include tablet {
            margin-right: $separacion2;
    
            &:last-of-type {
                margin: 0;
            }
        }
    }

    &.mostrar {
        visibility: visible;
        display: flex;
        flex-direction: column;
        opacity: 1;
        height: auto;
        @include tablet {
            flex-direction: row;
        }
    }
    
    .admin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem 0 3rem;
        
        a{
            margin: 0;
        }
    }
    
}

.mobil-menu {
    width: 5rem;
    cursor: pointer;
    @include tablet {
        display: none;
    }
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .dark-mode-boton {
        filter: invert(100%);
        width: 3rem;
        margin: 2rem 0;
        
        @include tablet {
            margin: 0;
        }
        
        &:hover {
            cursor: pointer;
            filter: invert(75%);
        }
    }
}
